html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


body,html {
    height: 100%;
}


.line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
}

.header {
    margin: 0;
    padding: 0;
    min-height: 223px;
    background: url(../image/header.png) repeat;
    border-radius: 0px;
    border-top: 0px;
    opacity: 1;
}

.logo {
    padding: 65px 40px 40px 40px;
    font-size: 230%;
    border: 0px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.3;
    width: 50%;
}

.logo a {
    color: #FFFFFF;
    text-decoration: none;
}

.mainmenu {
    background: #e6e6e6;
    opacity: 1;
}

.mainmenu .container {
    margin-left: 0px;
}

.basicbg {
    font: normal 13pt Arial;
    color: #3d3d66;
    line-height: 23px;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    background: url(../image/gradcontent.jpg) repeat;
}

.basic-login {
    height: auto;
    width: 500px;
    background: #e6e6e6;
    border-radius: 6px;
    border: 2px solid #e3e3e3;
    line-height: 1.4;
    margin: 20px 20px 20px 30%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px!important;
    border: 1px solid transparent;
}

.site-login {
    margin-left: auto;
    margin-right: auto;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #333333;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}
